.create-blog-page-container {
    display: flex;
    flex-direction: column;
    padding: 40px 160px;
    background-color: #1e1e1e;
    height: auto;
    position: relative;
}


.create-blog-page-container label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(167, 167, 167);
    font-size: 18px;
    /* Consistent font size */
    margin-bottom: 8px;
}

.create-blog-h1 {
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin-top: 20px;
    text-align: center;
}

.create-blog-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}

.title-genre-container {
    display: flex;
    justify-content: space-around;
}

.create-blog-content-input-container,
.create-blog-introduction-input-container,
.create-blog-genre-selector-container,
.create-blog-title-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 600px;
    height: auto;
}

.create-blog-content-input-container {
    width: 60%;
    margin: 0 auto;
}

.create-blog-content-input-container textarea,
.create-blog-introduction-input-container textarea,
.create-blog-genre-selector-container select,
.create-blog-title-input-container textarea {
    background-color: transparent;
    border: 1px solid rgb(51, 51, 51);
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 25px;
    font-size: 16px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    resize: none;
}

.create-blog-content-input-container textarea {
    height: 500px;
    resize: vertical;
    padding-bottom: 30px;
    overflow: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

textarea::-webkit-scrollbar {
    display: none;
}

.create-blog-introduction-input-container textarea {
    height: 150px;
}

.create-blog-title-input-container textarea {
    height: 100px;
}

.create-blog-genre-selector-container select {
    height: 45px;
}

.option {
    background-color: rgb(51, 51, 51);
    border: none;
}

.create-blog-submit-button {
    background-color: rgb(255, 210, 0);
    color: rgb(20, 20, 20);
    border-radius: 8px;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    width: 300px;
    height: 75px;
    align-self: center;
    margin-top: 40px;
}

.create-blog-submit-button:hover {
    background-color: rgb(255, 220, 50);
    transform: translateY(-2px);
}

.input-value-length {
    position: sticky;
    margin-top: -50px;
    margin-left: auto;
    padding-right: 20px;
    color: rgb(150, 150, 150);
    font-size: 14px;
}

.input-value-length-red {
    color: rgb(161, 38, 38);
    position: sticky;
    margin-top: -50px;
    margin-left: auto;
    padding-right: 20px;
    font-size: 14px;
}