.create-blog-page-container {
    display: flex;
    flex-direction: column;
    padding: 40px 160px;
    background-color: #1e1e1e;
    min-height: 600px;
}


.create-blog-page-container label {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: rgb(167, 167, 167);
    font-size: 18px; /* Consistent font size */
    margin-bottom: 8px;
}

.create-blog-h1 {
    color: white;
    font-size: 40px;
    font-weight: 200;
    margin-top: 20px;
    text-align: center;
}

.create-blog-inputs-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;

}

.title-genre-container {
    display: flex;
    justify-content: space-around;
}

.create-blog-content-input-container,
.create-blog-introduction-input-container,
.create-blog-genre-selector-container,
.create-blog-title-input-container {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    width: 600px;
}

.create-blog-content-input-container {
    width: 60%;
    margin: 0 auto;
}

.create-blog-content-input-container textarea,
.create-blog-introduction-input-container textarea,
.create-blog-genre-selector-container select,
.create-blog-title-input-container input {
    background-color: transparent;
    border: 1px solid rgb(51, 51, 51);
    padding: 12px; /* Slightly larger for touch */
    border-radius: 8px;
    margin-bottom: 25px;
    font-size: 16px; /* Better for mobile */
    color: white;
    width: 100%;
    box-sizing: border-box; /* Include padding in width */
}

.option {
    background-color: rgb(51, 51, 51);
    border: none;
}

.create-blog-submit-button {
    background-color: rgb(255, 210, 0);
    color: rgb(20, 20, 20);
    border-radius: 8px;
    border: none;
    padding: 12px 18px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    text-align: center;
    transition: all 0.3s ease;
    width: 300px;
    height: 75px;
    align-self: center;
}

.create-blog-submit-button:hover {
    background-color: rgb(255, 220, 50);
    transform: translateY(-2px);
}